@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
    background-color: #be2c5d;
    font: italic;
    font-size: larger;
    color: #1ab62f;
    background-color: rgb(255, 255, 255);
}

body.dark {background-color: #0b2d91;} /* #9b59b6 */

body.dark  .wrapper{
    background-color: #ca0202;
}

body.dark h1, body.dark .support a {color: #fff;}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}



.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 100px [col] 100px [col] 100px [col] 100px  ;
    grid-template-rows: [row] auto [row] auto [row] ;
    background-color: #3f2f5c;
}

.box {
    background-color: #f7f6f6;
    border-radius: 5px;
    padding: 1vw;
    font-size: 150%;
}
/* --------------Darkmode----------
.checkbox{
    border-radius: 1em;
    grid-column: col 11;
    grid-row: row 1;
}
.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    
    grid-column: col 11;
    grid-row: row 1;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  grid-column: col 11;
  grid-row: row 1;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(-24px);
}
/* -------------------Darkmode end --------------*/
.logo{
    background-color:#000000;
    border-radius: 3em;
    grid-column: col 1/ span 2;
    grid-row: row 1;
    width: 5vw;
    height: 5vw;
}
.title{
    color: #ca0202;
    background-color: gray;
    grid-column: col 3/ span 7;
    grid-row: row 1;
    font-size: 3em;
}
.links{
    display: flex;
    flex-direction: row;
    grid-column: col 4/ span 5;
    grid-row: row 2;
}
.links > a{
    box-shadow: inset 0 0 0 0 #54b3d6;
    margin-right: 1em;
    transition: color 0.6s ease-in-out, box-shadow .3s ease-in-out;
} /*can this be prettier?*/
.links > a:hover{
    box-shadow: inset 100% 0 0 0 #000000;
    color: rgb(252, 0, 0);
}
.article{
    grid-column: col 2/ span 8;
    grid-row: row 3;
}
.article > ol >li>img {
    background-color: rgb(190, 17, 89);
    border-radius: 2em;
    grid-column: col 1/ span 2;
    grid-row: row 1;
    width: 5vw;
    height: 5vw;
}
